password_secret = {{ vault_password_secret }}
root_username = {{ graylog.admin_user }}
root_password_sha2 = {{ sha256_root_passwd.stdout }}

bin_dir = {{ graylog.bin_path }}
data_dir = {{ graylog.data_path }}
plugin_dir = {{ graylog.plugin_path }}

http_bind_address = {{ graylog.host }}:{{ graylog.port }}
http_publish_uri =  http://{{ graylog.host }}:{{ graylog.port }}
http_enable_tls = false

elasticsearch_hosts = {{ elastic_search_hosts }}
elasticsearch_connect_timeout = 10s
rotation_strategy = size
# 1Gb
elasticsearch_max_size_per_index = 1073741824
elasticsearch_max_number_of_indices = 10
retention_strategy = delete
# One node, no need shards
elasticsearch_shards = 1
elasticsearch_replicas = 0
elasticsearch_template_name = graylog-internal

mongodb_uri = mongodb://{{ mongodb_hosts }}/graylog