is_master = {{ graylog_master_node }}
node_id_file = {{ graylog_node_id_file }}

password_secret = {{ vault_graylog_password_secret }}
root_username = {{ graylog_admin_user }}
root_password_sha2 = {{ sha256_root_passwd.stdout }}

bin_dir = {{ graylog_bin_path }}
data_dir = {{ graylog_data_path }}
plugin_dir = {{ graylog_plugin_path }}

http_bind_address = {{ graylog_host }}:{{ graylog_port }}
http_publish_uri =  http://{{ graylog_host }}:{{ graylog_port }}
http_enable_tls = false

elasticsearch_hosts = {{ graylog_elastic_hosts | join(',') }}
elasticsearch_connect_timeout = 10s

rotation_strategy = time
elasticsearch_max_time_per_index = {{ graylog_elastic_index_age }}
elasticsearch_max_number_of_indices = {{ graylog_elastic_count_of_indices }}
retention_strategy = {{ graylog_elastic_indices_retention_strategy }}
elasticsearch_shards = {{ graylog_elastic_shards }}
elasticsearch_replicas = {{ graylog_elastic_replicas }}
elasticsearch_index_prefix = {{ graylog_elasticsearch_index_prefix }}
default_events_index_prefix = {{ graylog_elasticsearch_event_index_prefix }}
default_system_events_index_prefix = {{ graylog_elasticsearch_system_index_prefix }}
elasticsearch_template_name = graylog-internal
elasticsearch_request_timeout = 1m

mongodb_uri = mongodb://{{ mongodb_graylog_user }}:{{ vault_mongodb_graylog_passwd }}@{{ graylog_mongodb_hosts | join(',') }}/{{ mongodb_graylog_database }}?replicaSet={{ mongodb_replica_set_name }}

message_journal_enabled = true
message_journal_dir = {{ graylog_journal_path }}
message_journal_max_age = 12h
message_journal_max_size = 5gb